/node_modules
/public/hot
/public/**/*.map
/public/storage
/public/demo
/storage/*.key
/storage/app/public
/vendor
/Modules
/.idea
.env.backup
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.editorconfig
_ide_helper*
/.eslintrc.js
/yarn.lock
